In [12]:
import pandas as pd
import numpy as np
import re
from geopy.distance import geodesic
import functools

In [13]:
def insert_space(string):
    return string[0:3] + ' ' + string[3:]
def insert_dot(string):
    return string[0:2] + '.' + string[2:]

# функция, склеивающая колонки с координатами в кортеж 
def coord_merg(dataframe):
    dataframe['lat_long']=dataframe[['lat', 'lon']].apply(tuple, axis=1)
    return dataframe 

# аналогичная функция для датасета, содержащего координаты, соответствующие километрам трассы (данные первого геокодера)
def coord_km(dataframe):
    dataframe=dataframe.rename(columns={'lat_geoc': "Широта"})
    dataframe=dataframe.rename(columns={'lon_geoc': "Долгота"})
    dataframe['Широта']=round(dataframe['Широта'], 2)
    dataframe['Долгота']=round(dataframe['Долгота'], 2)
    dataframe['lat_long'] = dataframe[['Широта', 'Долгота']].apply(tuple, axis=1)
    return dataframe

# данные Глонасса
def coord_km_glonass(dataframe):
    dataframe=dataframe.rename(columns={'lat_glonass': "Широта"})
    dataframe=dataframe.rename(columns={'lon_glonass': "Долгота"})
    dataframe['Широта']=round(dataframe['Широта'], 2)
    dataframe['Долгота']=round(dataframe['Долгота'], 2)
    dataframe['lat_long'] = dataframe[['Широта', 'Долгота']].apply(tuple, axis=1)
    return dataframe

# получаем список метеостанций с координатами из поданного датасета Росгидромета
def stations_list(dataframe):
    dataframe=dataframe[['station','lat_long']]
    dataframe=dataframe.drop_duplicates()
    dataframe=dataframe.set_axis(range(0,len(dataframe)))
    return dataframe

# находим ближайшую метеостанцию, сопоставляя координаты километра трассы с координатами метеостанций из списка
def stat_km(point, stat_list):
    stations_list=stat_list
    lst=[]
    if pd.isnull(point) == True:
        lst.append(np.nan)
    else:
        for i in stations_list['lat_long']:
            x=geodesic(point, i).km
            lst.append(x)
            stations_list['dist']=pd.DataFrame(lst)
            y=stations_list['station'][stations_list['dist'] == stations_list['dist'].min()]
        y=y.to_string()
        y=re.sub("[0-9]", "", y)
        y=re.sub(" ", "", y)
        return y

In [14]:
# данные двух геокодеров
km_coord = pd.read_csv('geo_data.csv')

# для примера загрузим метеорологические данные Росгидромета, в которых содержится полный список метеостанций, и сэмпл обучающей выборки
meteo = pd.read_csv("meteo.csv")
train = pd.read_csv("train.csv")

In [15]:
train=pd.read_csv("train.csv")
km_coord=pd.read_csv("geo_data.csv")
#raw_path="C:/Users/User/Desktop/Glonass/Исходники/"
#R21_met = pd.read_csv(raw_path+"P-21_meteo.csv", encoding='cp1251', sep=';')
#M8_met = pd.read_csv(raw_path+"М-8_meteo.csv", encoding='cp1251', sep=';')
meteo = pd.read_csv("meteo.csv")

In [16]:
# удаляем наблюдения по трассе М-4
train=train[(train['road_id'] !=5)]

# используем данные первого геокодера
km_coord=km_coord.dropna(subset=['lat_geoc'])
km_coord=km_coord.dropna(subset=['lon_geoc'])
km_coord=coord_km(km_coord)
km_coord=km_coord[['road_id', 'road_km', 'lat_long']]
km_coord.head()

   road_id  road_km        lat_long
0        9        0  (55.76, 37.61)
1        9        1  (55.76, 37.62)
2        9        2  (55.76, 37.63)
3        9        3  (55.77, 37.64)
4        9        4  (55.77, 37.63)

In [17]:
# добавляем координаты в тренировочную выборку
train_cord=pd.merge(train,km_coord,on=["road_id", "road_km"],how='left')
train_cord.head()

,datetime,road_id,road_km,man_injured_num,man_dead_num,car_damaged_num,road_name,lon,lat,data_source,target,lat_long
0,2018-05-07 16:00:00,9,254,0,0,1.0,М-8 (E115) =Холмогоры= Москва-Архангельск че...,39.803295,57.545808,gibdd,1,NaN
1,2019-02-16 15:00:00,9,216,0,0,3.0,М-8 (E115) =Холмогоры= Москва-Архангельск че...,39.499154,57.269090,gibdd,1,NaN
2,2015-03-22 06:00:00,9,25,1,0,NaN,М-8 (E115) =Холмогоры= Москва-Архангельск че...,NaN,NaN,gibdd,2,NaN
3,2015-01-31 08:00:00,9,28,0,0,NaN,М-8 (E115) =Холмогоры= Москва-Архангельск че...,NaN,NaN,gibdd,1,NaN
4,2020-08-09 00:00:00,9,474,0,0,1.0,М-8 (E115) =Холмогоры= Москва-Архангельск че...,39.929295,59.292189,gibdd,1,NaN

In [18]:
# создаем полный список метеостанций для обеих трасс
seed = 43

meteo_sam=meteo.groupby("station").sample(frac=0.001, random_state=seed)
meteo_sam.loc[meteo_sam['station']=='MOSKBAL', 'lat'] = 55.8 # вручную добавляем координаты для станций 'MOSKBAL' и 'MONCHEG', взятые из других датасетов Росгидромета
meteo_sam.loc[meteo_sam['station']=='MOSKBAL', 'lon'] = 37.5
meteo_sam.loc[meteo_sam['station']=='MONCHEG', 'lat'] = 67.9 
meteo_sam.loc[meteo_sam['station']=='MONCHEG', 'lon'] = 32.9

coord_merg(meteo_sam)
full_stations_list=stations_list(meteo_sam)
full_stations_list

Empty DataFrame
Columns: [station, lat_long]
Index: []

In [19]:
# пример работы на выборке из train.csv, т.к. выполнение занимает время
seed=1
train_cord_sam=train_cord.sample(frac=0.03, random_state=seed)
train_cord_sam=train_cord_sam.reset_index(drop=True)

In [20]:
train_cord_sam['station'] = train_cord_sam['lat_long'].map(functools.partial(stat_km, stat_list=full_stations_list))
train_cord_sam['station'] = train_cord_sam['station'].where(pd.notnull(train_cord_sam['station']), np.nan) # т.к. функиця возвращает None для пропусков, вручную меняем на NaN
train_cord_sam.head()

,datetime,road_id,road_km,man_injured_num,man_dead_num,car_damaged_num,road_name,lon,lat,data_source,target,lat_long,station
0,2015-01-31 08:00:00,9,28,0,0,NaN,М-8 (E115) =Холмогоры= Москва-Архангельск че...,NaN,NaN,gibdd,1,NaN,NaN