In [124]:
import pandas as pd
import numpy as np
import pvlib as pv
import datetime

In [125]:
#df=pd.DataFrame(pd.date_range(start='1/1/2018', end='31/12/2018', freq='H', name= 'date'))

In [126]:
geo_data=pd.read_csv('geo_data.csv')

In [127]:
sample_nine = geo_data[geo_data['road_id']== 9]
sample_onefour = geo_data[geo_data['road_id']== 14]

In [128]:
result = pd.DataFrame (columns = ['lon', 'lat', 'range_km', 'road_id'])
for frame in [sample_nine, sample_onefour]:
    road_id = frame['road_id'].iloc[0]
    for i in np.arange(0,max(frame['road_km']), 50 ):
        df =frame[(i < frame['road_km']) & (frame['road_km'] < i+50)]
        lon = df['lon_geoc'].mean()
        lat = df['lat_geoc'].mean()
        range_km = i
        result = result.append({'lon': lon, 'lat': lat, 'range_km': range_km, 'road_id': road_id}, ignore_index=True)
        result['range_km']= result['range_km'].astype(int)
        result['road_id']= result['road_id'].astype(int)

In [129]:
result

          lon        lat  range_km  road_id
0   37.852624  56.017068         0        9
1   38.207614  56.304582        50        9
2   38.687174  56.628864       100        9
3   39.164535  56.967259       150        9
4   39.566464  57.326188       200        9
5   39.877615  57.706296       250        9
6   40.113529  58.121563       300        9
7   40.316668  58.525438       350        9
8   40.146187  58.944762       400        9
9   39.978421  59.300410       450        9
10  40.528211  59.621700       500        9
11  41.046803  59.970893       550        9
12  41.509837  60.322165       600        9
13  41.869843  60.696584       650        9
14  42.136780  61.073504       700        9
15  42.400568  61.438737       750        9
16  42.613586  61.832774       800        9
17  42.838786  62.227295       850        9
18  42.846639  62.601049       900        9
19  42.596642  62.927563       950        9
20  42.011611  63.192736      1000        9
21  41.639976  63.565635      1050        9
22  41.617148  63.937730      1100        9
23  41.187496  64.227046      1150        9
24  40.627223  64.365275      1200        9
25  30.716925  59.894733         0       14
26  31.579499  59.911942        50       14
27  32.377709  60.090429       100       14
28  32.985716  60.402003       150       14
29  33.465306  60.694650       200       14
30  33.155239  60.939819       250       14
31  33.175512  61.278849       300       14
32  33.576088  61.615355       350       14
33  34.096277  61.854762       400       14
34  34.165639  62.197117       450       14
35  33.847923  62.436864       500       14
36  33.946643  62.652857       550       14
37  34.330308  62.956667       600       14
38  34.396203  63.370793       650       14
39  34.100967  63.768768       700       14
40  34.107444  64.203633       750       14
41  34.154120  64.642257       800       14
42  34.009484  65.040631       850       14
43  33.488139  65.417681       900       14
44  33.101137  65.800491       950       14
45  32.829151  66.192249      1000       14
46  32.713060  66.628277      1050       14
47  32.240263  66.997147      1100       14
48  32.416837  67.314414      1150       14
49  32.671517  67.659289      1200       14
50  33.034844  68.024533      1250       14
51  33.342210  68.403920      1300       14
52  33.135115  68.741307      1350       14
53  32.588993  69.120882      1400       14
54  31.948212  69.403748      1450       14
55  31.094876  69.476749      1500       14
56  30.526248  69.242610      1550       14

In [130]:
test =pd.read_csv('test.csv')

In [131]:
#drop_date = datetime.datetime(2020, 1, 31)

In [165]:
test['datetime'] = test['datetime'].astype('datetime64')

In [133]:
#test = test[test['datetime']<drop_date]

In [168]:
test['datetime']

In [171]:
from datetime import date, timedelta

start_date = date(2019, 1, 1)
end_date = date(2020, 1, 1)
delta = timedelta(days=1)
while start_date <= end_date:
    print (start_date.strftime("%Y-%m-%d"))
    start_date += delta

In [159]:
for i in np.arange(0,max(test['road_km']), 50 ):
    test['road_km_new'].iloc[i] = i

c:\users\vladimir\appdata\local\programs\python\python39\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [160]:
test['road_km_new'] = test['road_km_new'].astype(int)

In [163]:
test

                     datetime  road_id  road_km  target  road_km_new
0         2020-01-01 01:00:00        9        0     NaN            0
1         2020-01-01 01:00:00        9        1     NaN        99999
2         2020-01-01 01:00:00        9        2     NaN        99999
3         2020-01-01 01:00:00        9        3     NaN        99999
4         2020-01-01 01:00:00        9        4     NaN        99999
...                       ...      ...      ...     ...          ...
12437052  2020-12-31 23:00:00       14     1565     NaN        99999
12437053  2020-12-31 23:00:00       14     1566     NaN        99999
12437054  2020-12-31 23:00:00       14     1567     NaN        99999
12437055  2020-12-31 23:00:00       14     1568     NaN        99999
12437056  2020-12-31 23:00:00       14     1569     NaN        99999

[12437057 rows x 5 columns]

# merge coords

In [138]:
merged = test.merge(result, left_on=['road_id', 'road_km_new'], right_on=['road_id', 'range_km'], how = 'left')

In [158]:
merged['road_km_new'].value_counts()

99999    12437025
850             1
1550            1
1500            1
1450            1
1400            1
1350            1
1300            1
1250            1
1200            1
1150            1
1100            1
1050            1
1000            1
950             1
900             1
0               1
50              1
750             1
700             1
650             1
600             1
550             1
500             1
450             1
400             1
350             1
300             1
250             1
200             1
150             1
100             1
800             1
Name: road_km_new, dtype: int64

In [152]:
merged[['datetime', 'lon', 'lat']].dropna()

                 datetime        lon        lat
0     2020-01-01 01:00:00  37.852624  56.017068
50    2020-01-01 01:00:00  38.207614  56.304582
100   2020-01-01 01:00:00  38.687174  56.628864
150   2020-01-01 01:00:00  39.164535  56.967259
200   2020-01-01 01:00:00  39.566464  57.326188
250   2020-01-01 01:00:00  39.877615  57.706296
300   2020-01-01 01:00:00  40.113529  58.121563
350   2020-01-01 01:00:00  40.316668  58.525438
400   2020-01-01 01:00:00  40.146187  58.944762
450   2020-01-01 01:00:00  39.978421  59.300410
500   2020-01-01 01:00:00  40.528211  59.621700
550   2020-01-01 01:00:00  41.046803  59.970893
600   2020-01-01 01:00:00  41.509837  60.322165
650   2020-01-01 01:00:00  41.869843  60.696584
700   2020-01-01 01:00:00  42.136780  61.073504
750   2020-01-01 01:00:00  42.400568  61.438737
800   2020-01-01 01:00:00  42.613586  61.832774
850   2020-01-01 01:00:00  42.838786  62.227295
900   2020-01-01 01:00:00  42.846639  62.601049
950   2020-01-01 01:00:00  42.596642  62.927563
1000  2020-01-01 01:00:00  42.011611  63.192736
1050  2020-01-01 01:00:00  41.639976  63.565635
1100  2020-01-01 01:00:00  41.617148  63.937730
1150  2020-01-01 01:00:00  41.187496  64.227046
1200  2020-01-01 01:00:00  40.627223  64.365275
1250  2020-01-01 01:00:00  33.034844  68.024533
1300  2020-01-01 01:00:00  33.342210  68.403920
1350  2020-01-01 01:00:00  33.135115  68.741307
1400  2020-01-01 01:00:00  32.588993  69.120882
1450  2020-01-01 01:00:00  31.948212  69.403748
1500  2020-01-01 01:00:00  31.094876  69.476749
1550  2020-01-01 01:00:00  30.526248  69.242610

# Mapper to frames

In [146]:
def get_solar(x):
    datetime, lon, lat = x.values
    df = pv.solarposition.get_solarposition(time = datetime, latitude= lat, longitude = lon)
    df['lon'] = lon
    df['lat'] = lat
    df.index.name = 'datetime'
    df.reset_index(inplace=True)
    return df

In [147]:
import time
start = time.process_time()
#enriched = pd.DataFrame(columns = ['apparent_zenith',  'zenith', 'apparent_elevation', 'elevation', 'azimuth', 'equation_of_time'])
enriched = pd.DataFrame()
enriched = merged[['datetime', 'lon', 'lat']].dropna().apply(get_solar, axis=1)
print(time.process_time() - start)

1.265625

In [148]:
enriched = pd.concat(enriched.values)

In [151]:
enriched

,datetime,apparent_zenith,zenith,apparent_elevation,elevation,azimuth,equation_of_time,lon,lat
0,2020-01-01 01:00:00,129.855704,129.855704,-39.855704,-39.855704,70.992068,-3.101587,37.852624,56.017068
0,2020-01-01 01:00:00,129.575388,129.575388,-39.575388,-39.575388,71.114364,-3.101587,38.207614,56.304582
0,2020-01-01 01:00:00,129.220197,129.220197,-39.220197,-39.220197,71.331991,-3.101587,38.687174,56.628864
0,2020-01-01 01:00:00,128.864674,128.864674,-38.864674,-38.864674,71.538770,-3.101587,39.164535,56.967259
0,2020-01-01 01:00:00,128.544486,128.544486,-38.544486,-38.544486,71.658687,-3.101587,39.566464,57.326188
0,2020-01-01 01:00:00,128.266312,128.266312,-38.266312,-38.266312,71.676806,-3.101587,39.877615,57.706296
0,2020-01-01 01:00:00,128.016561,128.016561,-38.016561,-38.016561,71.598213,-3.101587,40.113529,58.121563
0,2020-01-01 01:00:00,127.787551,127.787551,-37.787551,-37.787551,71.499126,-3.101587,40.316668,58.525438
0,2020-01-01 01:00:00,127.736633,127.736633,-37.736633,-37.736633,71.023807,-3.101587,40.146187,58.944762
0,2020-01-01 01:00:00,127.701052,127.701052,-37.701052,-37.701052,70.598169,-3.101587,39.978421,59.300410
0,2020-01-01 01:00:00,127.331409,127.331409,-37.331409,-37.331409,70.909519,-3.101587,40.528211,59.621700
0,2020-01-01 01:00:00,126.971228,126.971228,-36.971228,-36.971228,71.171720,-3.101587,41.046803,59.970893
0,2020-01-01 01:00:00,126.640182,126.640182,-36.640182,-36.640182,71.379762,-3.101587,41.509837,60.322165
0,2020-01-01 01:00:00,126.352933,126.352933,-36.352933,-36.352933,71.472316,-3.101587,41.869843,60.696584
0,2020-01-01 01:00:00,126.110021,126.110021,-36.110021,-36.110021,71.473914,-3.101587,42.136780,61.073504
0,2020-01-01 01:00:00,125.873722,125.873722,-35.873722,-35.873722,71.482946,-3.101587,42.400568,61.438737
0,2020-01-01 01:00:00,125.652451,125.652451,-35.652451,-35.652451,71.424529,-3.101587,42.613586,61.832774
0,2020-01-01 01:00:00,125.426530,125.426530,-35.426530,-35.426530,71.380401,-3.101587,42.838786,62.227295
0,2020-01-01 01:00:00,125.303003,125.303003,-35.303003,-35.303003,71.137006,-3.101587,42.846639,62.601049
0,2020-01-01 01:00:00,125.304296,125.304296,-35.304296,-35.304296,70.669744,-3.101587,42.596642,62.927563
0,2020-01-01 01:00:00,125.464375,125.464375,-35.464375,-35.464375,69.907418,-3.101587,42.011611,63.192736
0,2020-01-01 01:00:00,125.490444,125.490444,-35.490444,-35.490444,69.284733,-3.101587,41.639976,63.565635
0,2020-01-01 01:00:00,125.367442,125.367442,-35.367442,-35.367442,69.014337,-3.101587,41.617148,63.937730
0,2020-01-01 01:00:00,125.437317,125.437317,-35.437317,-35.437317,68.387856,-3.101587,41.187496,64.227046
0,2020-01-01 01:00:00,125.611057,125.611057,-35.611057,-35.611057,67.726669,-3.101587,40.627223,64.365275
0,2020-01-01 01:00:00,126.647123,126.647123,-36.647123,-36.647123,57.376522,-3.101587,33.034844,68.024533
0,2020-01-01 01:00:00,126.346733,126.346733,-36.346733,-36.346733,57.470855,-3.101587,33.342210,68.403920
0,2020-01-01 01:00:00,126.227877,126.227877,-36.227877,-36.227877,57.039689,-3.101587,33.135115,68.741307
0,2020-01-01 01:00:00,126.183051,126.183051,-36.183051,-36.183051,56.218993,-3.101587,32.588993,69.120882
0,2020-01-01 01:00:00,126.211636,126.211636,-36.211636,-36.211636,55.355200,-3.101587,31.948212,69.403748
0,2020-01-01 01:00:00,126.414716,126.414716,-36.414716,-36.414716,54.385616,-3.101587,31.094876,69.476749
0,2020-01-01 01:00:00,126.714307,126.714307,-36.714307,-36.714307,53.907158,-3.101587,30.526248,69.242610

In [144]:
 final = merged.merge(enriched, left_on=['datetime', 'lon', 'lat'], right_on=['datetime', 'lon', 'lat'], how = 'left')

ValueError: You are trying to merge on object and datetime64[ns] columns. If you wish to proceed you should use pd.concat

In [119]:
final

,datetime,road_id,road_km,target,road_km_new,lon,lat,range_km,apparent_zenith,zenith,apparent_elevation,elevation,azimuth,equation_of_time
0,2020-01-01 01:00:00,9,0,NaN,0,37.852624,56.017068,0.0,129.855704,129.855704,-39.855704,-39.855704,70.992068,-3.101587
1,2020-01-01 01:00:00,9,1,NaN,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01 01:00:00,9,2,NaN,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-01 01:00:00,9,3,NaN,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-01 01:00:00,9,4,NaN,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2020-01-01 01:00:00,9,96,NaN,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2020-01-01 01:00:00,9,97,NaN,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2020-01-01 01:00:00,9,98,NaN,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2020-01-01 01:00:00,9,99,NaN,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2020-01-01 01:00:00,9,100,NaN,100,38.687174,56.628864,100.0,129.220197,129.220197,-39.220197,-39.220197,71.331991,-3.101587

In [ ]:
{‘backfill’, ‘bfill’, ‘pad’, ‘ffill’, None}, default None

In [123]:
final.fillna(method = 'ffill')

,datetime,road_id,road_km,target,road_km_new,lon,lat,range_km,apparent_zenith,zenith,apparent_elevation,elevation,azimuth,equation_of_time
0,2020-01-01 01:00:00,9,0,NaN,0,37.852624,56.017068,0.0,129.855704,129.855704,-39.855704,-39.855704,70.992068,-3.101587
1,2020-01-01 01:00:00,9,1,NaN,99999,37.852624,56.017068,0.0,129.855704,129.855704,-39.855704,-39.855704,70.992068,-3.101587
2,2020-01-01 01:00:00,9,2,NaN,99999,37.852624,56.017068,0.0,129.855704,129.855704,-39.855704,-39.855704,70.992068,-3.101587
3,2020-01-01 01:00:00,9,3,NaN,99999,37.852624,56.017068,0.0,129.855704,129.855704,-39.855704,-39.855704,70.992068,-3.101587
4,2020-01-01 01:00:00,9,4,NaN,99999,37.852624,56.017068,0.0,129.855704,129.855704,-39.855704,-39.855704,70.992068,-3.101587
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2020-01-01 01:00:00,9,96,NaN,99999,38.207614,56.304582,50.0,129.575388,129.575388,-39.575388,-39.575388,71.114364,-3.101587
97,2020-01-01 01:00:00,9,97,NaN,99999,38.207614,56.304582,50.0,129.575388,129.575388,-39.575388,-39.575388,71.114364,-3.101587
98,2020-01-01 01:00:00,9,98,NaN,99999,38.207614,56.304582,50.0,129.575388,129.575388,-39.575388,-39.575388,71.114364,-3.101587
99,2020-01-01 01:00:00,9,99,NaN,99999,38.207614,56.304582,50.0,129.575388,129.575388,-39.575388,-39.575388,71.114364,-3.101587
100,2020-01-01 01:00:00,9,100,NaN,100,38.687174,56.628864,100.0,129.220197,129.220197,-39.220197,-39.220197,71.331991,-3.101587